<a href="https://colab.research.google.com/github/mercy-yugi/PYTHON/blob/main/DATA_STRUCTURES.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello world")
print(list(range(1,5)))
total2=0
j=1
while j<5:
  total2+=j
  j+=1
print(total2)
given_list=[1,-2,3,44,-5,6,20]


i=0
total=0
while given_list[i]>0:
  total+=given_list[i]
print(total)

hello world
[1, 2, 3, 4]
10

In [11]:
x = ['data', 'science']
for i in x:
    i.upper()
print(x)

x = 'datascience'
for i in x:
    print(i.upper())

x = 0
while x < 100:
    x += 2
print(x)

for num in range(2,-5,-1):
  print(num, end = ",")

numbers = [10, 20]
items = ["Chair", "Table"]
 
for x in numbers:
  for y in items:
    print(x, y)


for num in range(10, 14):
    for i  in range(2, num):
        if num % i == 1:
            print(num)
            break

dphi = 10
for i in range(10):
    for j in range(2, 10, 1):
        if dphi % 2 == 0:
            continue
            dphi += 1
    dphi+=1
else:
    dphi+=1
print(dphi)

datathons = ['data sprint #1', 'data sprint #2', 'data sprint #3', 'data sprint #4', 'data sprint #5', 'data sprint #5', 'data sprint #6']
print(list(enumerate(datathons)))

['data', 'science']
D
A
T
A
S
C
I
E
N
C
E
100
2,1,0,-1,-2,-3,-4,10 Chair
10 Table
20 Chair
20 Table
10
11
12
13
21
[(0, 'data sprint #1'), (1, 'data sprint #2'), (2, 'data sprint #3'), (3, 'data sprint #4'), (4, 'data sprint #5'), (5, 'data sprint #5'), (6, 'data sprint #6')]

In [36]:
list1=[10,20,51,60,20,10,23,25,23,51,25]
list2=[]
for item in list1:
  if item in list2:
    continue
  else:
    list2.append(item)
print(list2)

fruits={"orange","apple","mango","apple","orange"}
print(fruits)
print(type(fruits))

a=set()
a.add(1)
a.add(2)
print(a)
print(type(a))
a.update([33,45,67,89])
a.remove(67)
print(len(a))
print(a)

s1={1,2,3,4,5,6,7,8,9}
s2={2,4,11,23,45,7,56}
print(s1|s2)
print(s1&s2)
print(s1-s2)
print(s2-s1)

x=set(['a','b'])
print(x)
y={('a','b')}
print(y)

[10, 20, 51, 60, 23, 25]
{'mango', 'orange', 'apple'}
<class 'set'>
{1, 2}
<class 'set'>
5
{1, 2, 33, 45, 89}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 45, 23, 56}
{2, 4, 7}
{1, 3, 5, 6, 8, 9}
{56, 11, 45, 23}
{'a', 'b'}
{('a', 'b')}

In [39]:
s = {'dphi', 'data', 'science', 'bootcamp', 'deep', 'learning'}
s.discard('data science')
print(s)
bootcamp = {2}
bootcamp1 = {'dphi', 'data', 'science', 'bootcamp'}
bootcamp2 = {'dphi', 'deep', 'learning', 'bootcamp'}
bootcamps = bootcamp1.union(bootcamp2)
bc = bootcamp.union(bootcamps)
print(bc)
courses = {'Python Beginners', 'NumPy', 'Pandas', 'Matplotlib', 'EDA'}
courses.update(['Python Intermediate', 'Maths'])
print(courses)

{'bootcamp', 'science', 'learning', 'deep', 'dphi', 'data'}
{'deep', 2, 'dphi', 'data', 'bootcamp', 'science', 'learning'}
{'EDA', 'Python Beginners', 'Matplotlib', 'Python Intermediate', 'NumPy', 'Pandas', 'Maths'}

In [18]:
a=[1,34,56,3,2,4,5,6]
b=[]
b.append(10)
b.append(20)
b.append(30)
b.append(40)
print(b)
c=[]
for x in b:
  c.append(x*3)
print(c)

d=[y*2 for y in a]
print(d)

el=[m**2 for m in range(1,10)]
print(el)

f=[k**4 for k  in range(6,0,-1)]
print(f)

[10, 20, 30, 40]
[30, 60, 90, 120]
[2, 68, 112, 6, 4, 8, 10, 12]
[1, 4, 9, 16, 25, 36, 49, 64, 81]
[1296, 625, 256, 81, 16, 1]